.wrapper {
	font-family: 'NyghtSerif-Italic';
	background-color: #575F51;
	display: inline-block;
	align-items: center;
    border-radius: 4px;
	margin-right: 4px;
	letter-spacing: 1px;
    font-size: 16px;
	padding: 0px 4px 0px 6px;
    font-family: 'NyghtSerif-Italic';
}