.headerWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    align-items: center;
    font-family: 'NyghtSerif-Italic';
    text-align: center;
}

.title_wrapper {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 64px;
}

.cover_img {
    margin-top: 80px;

    object-fit: fill;
}

.description {
    font-size: 14px;
    opacity: 0.5;
    font-family: 'NyghtSerif-Italic';
    margin-top: 8px;
}